<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="7zip" />
	<package id="arduino" />
	<package id="autodesk-fusion360" />
	<package id="autohotkey" />
	<package id="cura-new" />
	<package id="discord" />
	<package id="dropbox" />
	<package id="dotnetfx" />
	<package id="eagle" />
	<package id="firefox" />
	<package id="gimp" />
	<package id="git" />
	<package id="GoogleChrome" />
	<package id="hxd" />
	<package id="inkscape" />
	<package id="irfanview" />
	<package id="javaruntime" />
	<package id="keepass" />
	<package id="keepass-keepasshttp" />
	<package id="mosh-for-chrome" />
	<package id="ngspice" />
	<package id="nodejs" />
	<package id="obs-studio" />
	<package id="openscad" />
	<package id="postman" />
	<package id="putty" />
	<package id="python" />
	<package id="python2" />
	<package id="shotcut" />
	<package id="signal" />
	<package id="slack" />
	<package id="steam" />
	<package id="sumatrapdf" />
	<package id="sysinternals" />
	<package id="tor" />
	<package id="tor-browser" />
	<package id="vim" />
	<package id="visualstudio2019community" />
	<package id="vlc" />
	<package id="vscode" />
	<package id="vscode-arduino" />
	<package id="vscode-cpptools" />
	<package id="vscode-gitignore" />
	<package id="vscode-prettier" />
	<package id="vscode-python" />
	<package id="winscp" />
	<package id="wireshark" />
	<package id="zoom" />
</packages>
